.form__close-btn {
  position: relative;
  top: -75px;
  right: -230px;
  max-height: 40.7px;
  max-width: 40.7px;
  transition: opacity 0.2s linear;
}

.form__close-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .form__close-btn {
      top: -50px;
      right: -150px;
  }
}