.popup__form {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* justify-content: space-between; */
  /* align-content: space-between; */
  align-items: center; 
  width: 430px;
  height: 220px;
}

@media screen and (max-width: 900px) {
  .popup__form {
    width: 282px;
    height: 190px;
  }
}