.popup__close-btn {
  background: url(../../../image/popup_close.svg) no-repeat center;
  padding: 0;
  border: unset;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40.7px;
  height: 40.7px;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .popup__close-btn {
    top: -45px;
    right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-btn {
    width: 26px;
    height: 26px;
  }
}