.popup__container {
  padding: 36px;
  position: relative;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 450px) {
  .popup__container {
    width: calc(100% - 60px);
    padding: 25px 22px;
    max-width: 282px;
  }
}
