.section {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 882px;
  margin: 0 auto;
  margin-bottom: 4%;
  color: #ffffff;
}

@media screen and (max-width: 881px) {
  .section {
    max-width: 732px;
  }
}


@media screen and (max-width: 581px) {
  .section {
    margin-bottom: 5%;
  }
}