.popup__text {
  margin: 0;
  padding-bottom: 13px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 358px;
   font-family: 'Inter',
   Arial,
   sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
}

@media screen and (max-width: 900px) {
  .popup__text {
    width: 238px;
  }
}